#map {
    width: 100%;
    height: 448px;
    background-color: lightgrey;
}

#streetview1 {
    width: 300px;
    height: 200px;
}

#streetview2 {
    width: 300px;
    height: 200px;
}

#streetview3 {
    width: 300px;
    height: 200px;
}

img {
    width: 300px;
    height: 200px;
}