@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@300;400&display=swap');

.row {
    margin: 0;
}

#quizContainer {
    padding: 0;
}

/* #imgContainer {
    padding: 0;
    margin: 0;
} */

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    background-color: lightgrey;
    float: left;
}

#reset {
    display: flex;
    float: left;
}

#timeRemaining {
    margin-bottom: 0;
}

progress {
    height: 50px;
    display: flex;
}

.navbar {
    margin-bottom: 20px;
}

.streetview {
    width: 370px;
    height: 230px;
    margin: 20px;
    padding: 0;
    display: inline-block;
    position: relative;
    clear: both;
}

.streetviewImg {
    object-fit: cover;
    width: 350px;
    height: auto;
    border: 2px inset grey;
    position: relative;
    margin: 5px;  
    clear: both;  
}

h1 {
    font-family: "Roboto", sans-serif;
}