@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/* Main page elements that don't change */

body {
    overflow-x: hidden !important;
    color: #616161;
    font-weight: 100;
    font-size: 0.875rem;
}

.row {
    margin: 0;
}

header {
    padding-top: 0.9em;
    margin-bottom: 0.8em;
    text-align: center;
}

#background {
    background: url('../img/bgworld.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: screen;
    background-color: #a2a2a2;
}

/* Welcome modal */

#welcomeModal {
    font-weight: 300;
}

#annotatedScreenshot {
    max-height: 100%;
    max-width: 100%;
}

#difficultyStart {
    font-size: 1.1em;
    width: 25%;
    text-align-last: center;
}

#difficultyLabel {
    font-size: 1.1em;
}

#startGame {
    color: rgb(41, 154, 206);
    border-color: rgb(41, 154, 206); 
    font-size: 1em;
}

#startGame:hover {
    background-color: rgba(41, 154, 206, 0.3); 
}


/* Game over modal */

#gameOverModal p {
    font-weight: 300;
    font-size: 1rem;
}

#playAgain {
    color: rgb(41, 154, 206);
    border-color: rgb(41, 154, 206); 
    font-size: 1em;
}

#playAgain:hover {
    background-color: rgba(41, 154, 206, 0.3); 
}

/* Map and other game elements */

#quizContainer {
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 1.5em;
}

/* Countdown timer */

#timeRemaining {
    margin-bottom: 0;
}

progress {
    margin-top: 1em;
    border-radius: 4px;
    height: 25px;
}

progress::-webkit-progress-bar {
    background-color: #f47c3cc4;
    border-radius: 4px;
}
progress::-webkit-progress-value {
    background-color: rgb(41, 154, 206);
    border-radius: 4px;
}
progress::-moz-progress-bar {
    background-color: rgb(41, 154, 206);
    border-radius: 4px;
}

/* Clickable game elements */

#reset {
    color: rgb(41, 154, 206);
    border-color: rgb(41, 154, 206); 
    text-transform: none;
    font-size: 1em;
    max-width: 370px;
    margin: auto;
}

#reset:hover {
    background-color: rgba(41, 154, 206, 0.3); 
}

.streetview {
    max-width: 370px;
    height: 230px;
    margin: 1.35em;
    padding: 0;
}

.streetviewImg {
    object-fit: cover;
    width: 350px;
    height: auto;
    border: 2px inset rgb(41, 154, 206);
    margin: 5px;  
    clear: both;  
}

.streetviewImg:hover {  
    border: 2px outset #f47c3cc4;    
}

/* Text */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* Add scroll to Bootstrap modal display - credit in README */

.modal-dialog {
    overflow-y: initial !important
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/* Width constraint on very large screen */

.lg-monitor {
    max-width: 1920px;
    margin: 0 auto;
}